<!DOCTYPE html>
<html>
  <head>
    <title>MessiGoals</title>
    <link rel='stylesheet' href='/stylesheets/homePage.css' />
    <link rel='stylesheet' href='/stylesheets/cssPartials/mobile.css' />
  </head>
  <body>

    <%- include('../partials/nav.ejs') %>
    
    <ul class="mobile-ul">
      <% for (let i = 0; i < anios.length; i++) { %>
          <div class="mobile-div-li">
            <li>
              <a href="/goles/anio/<%= anios[i].id %>"><%= anios[i].anio %></a>
          </li>
          </div>
      <% } %>
  </ul>

  </body>
</html>